body {
	padding-top: 0px;
	padding-bottom: 60px;
}

body, p, input, button, select, textarea {
	font-size: 14px;
}

h1, h2, h3, h4, .nav, .hero-unit p {
	font-family: 'Armata', sans-serif;
	alpha: 0.99;
}

.navbar .container {
	width: 1000px;
}

.navbar-inner {
	background-color: #ececec;
	background-image: none;
	filter: none;
}
.navbar {
	margin-bottom: 8px;
}
.navbar .brand {
	padding-left: 0px;
	padding-right: 0px;
}
.navbar .right-side {
	padding-top:40px;
	line-height:20px;
}

.navbar .nav > li {
	text-transform: uppercase;
	border-left: 1px solid #878785;
}
.navbar .nav > li:first-child {
	border-left: none;
}
.navbar .nav > li > a {
	font-size: 16px;
	line-height: 10px;
	text-decoration: none;
	text-shadow: none;
	color: #878785;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a.active {
	color: #59c0cf;
}

h1{
	margin-top:16px;
	margin-bottom:16px;
}

p{
	line-height: 24px;
}

li{
	line-height: 28px;
}
